/********************************
BASE STYLES
********************************/

* {
	background: rgba(0, 0, 0, .1)
}
body {
	margin: 0;
	padding: 0;
}
main, #quiz-box {
	width: 100%;
	padding: 30px 0;
	font-size: 1.25em;

  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#quiz-box{flex-flow:row wrap;}
section {
	width: 500px;
	margin: 30px;
}
.questions-box, article {
	padding: 30px;
}
/********************************
MAIN STYLES
********************************/
section div {
	display: flex;
	justify-content: center;
	align-items: center;
}
article div {
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 30px 0;
}
section div input {
	margin: 10px;
}
#quiz-box article {width: 70%;}
#quiz-box aside {margin: 0; padding: 30px;}
#quiz-start, #quiz-end {
  width: 80%;
	padding: 100px 50px;
}



/********************************
M E D I A   Q U E R I E S
********************************/
@media only screen and (max-width: 700px) {
	#quiz-box article {
		font-size: 1rem;
		width: 90%;
	}
		#quiz-box {
			width:90%;
		}
}
