/********************************
BASE STYLES
********************************/

/*
* {background: rgba(0, 0, 0, .1);}
*/

body {
	margin: 0 auto;
	padding: 0;
	height: auto;
	border: black 10px solid;
	background: #f3f3f3;
}
main, #quiz-box {
	width: 100%;
	padding: 30px 0;
	font-size: 1.25em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#quiz-box {
	flex-flow: column wrap;
}
section {
	width: 500px;
	margin: 30px;
}
/********************************
MAIN STYLES
********************************/

section div {
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 30px 0;
}
section div input {
	margin: 10px;
}
#quiz-box article {
	width: 70%;
}
#quiz-box aside {
	margin: 0;
	padding: 30px;
}
#quiz-start, #quiz-end {
	width: 80%;
	padding: 100px 50px;
}
.choices-box div, label, input, button {
	cursor: pointer;
}
.choices-box div {
	padding: 15px 0;
}
.choices-box div:hover {
	background-color: rgb(83, 66, 236);
	color: #fff;
}
button {
	border: 2px solid #ff6b31;
	color: #ff6b31;
	border-radius: 3%;
	background: white;
	width: 100px;
	height: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}
h6 {
	background-color: #ff6b31;
	color: #fff;
	padding: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
/********************************
M E D I A   Q U E R I E S
********************************/

@media only screen and (max-width: 700px) {
	main {
		font-size: 1.2rem;
	}
	#quiz-box {
		padding: 10px;
	}
	#quiz-box article {
		width: 85%;
	}
	section {
		margin: 10px;
	}
	h6:not(h6#solution) {
		text-transform: uppercase;
	}
}
